.main_box
  .main_box_head
    .group_detail
      = @group.name
        
      %p.member
        Member：
        %span
          - @group.users.each do |t|
            = t.name
    
    .btn_edit
      = link_to edit_group_path(params[:group_id]) do
        %span
          Edit

  .comment_box
    .comment_box_inner
      = render @messages

  .messege_box
    .form
      .input_box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'input_box_image' do
              = icon('far', 'image')
              = f.file_field :image 
          = f.submit 'Send', class: 'btn_send c_white'