.side_bar.c_white.bold
  .side_bar_head.cf
    .inner
      %p.user_name
        = current_user.name
      %ul
        %li
          = link_to new_group_path do
            = icon('fas','edit', class: 'ico')
        %li
          = link_to edit_user_path(current_user) do
            = icon('fas','cog', class: 'ico')
  .side_bar_group

    %ul.group_name_list
      - current_user.groups.each do |group|
      %li グループ名
        = link_to '#' do
        = group.name
      %li.info 新着メッセージ


    %ul.group_name_list 
      %li グループ名
      %li.info 新着メッセージ

